.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  &.hidden {
    display: none;
  }

  .container {
    max-width: 500px;
    height: fit-content;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      padding: 0 5px;
      .title {
        font-weight: 500;
      }
      .close {
        height: 30px;
        width: 30px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #f4f7fc;
        }
      }
    }

    .options {
      height: 30px;
      background-color: #f4f7fc;
      display: flex;
      align-items: center;
      padding: 0 5px;
      justify-content: flex-end;
      gap: 1rem;
      .option {
        border: none;
        outline: none;
        height: 30px;
        width: 30px;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #ebf0fa;
        }
      }
      .add {
        background-color: #01cb62;
        color: #fff;
        height: 20px;
        border: 1px solid #178860;
        outline: none;
        padding: 0 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #178860;
        }
      }
    }
    
    .form {
      width: 100%;
      padding: 10px;
      .f_g {
        position: relative;
        label,
        input,
        select {
          width: 100%;
        }
        label {
          font-size: 0.9rem;
        }
        input,
        select {
          border: 1px solid #000;
          border-radius: 5px;
          outline: none;
          height: 25px;
          background-color: #fff;
          color: #000;
        }
        input {
          padding: 0 5px;
        }
      }
    }
  }
}


.boleta {
  width: 28rem;
  font-size: 0.8rem;
}
.line {
  width: 100%;
    height: 0.2px;
    border: dashed 0.2px #000;
    margin: 0.5rem 0rem;
}

.row {
  display: flex;
  gap: 0.5rem;
  div {
      width: 9rem;
  }
  .end {
      margin-left: auto;
  }
  .start {
      margin-right: auto;
  }
  .special{
      display: flex;
      justify-content: space-between;
  }
}

.center {
  text-align: center;
  margin: auto;
}
.max_with {
  max-width: 15rem;
}
.padding {
  padding: 0.5rem 0rem;
}