.separator {
  display: flex;
  align-items: center;
  padding: 20px 0;

  .line {
    flex-grow: 1;
    width: 100%;
    height: 0.2px;
    border: solid 0.2px #000;
  }

  .subtitle {
    display: block;
    padding: 0rem 5px;
    color: #000;
    white-space: nowrap;
    font-size: 0.8rem;
  }
}