.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  z-index: 2;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  .container {
    width: 700px;
    height: fit-content;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      padding: 0 5px;
      .title {
        font-weight: 500;
      }
      .close {
        height: 30px;
        width: 30px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #f4f7fc;
        }
      }
    }

    .options {
      height: 30px;
      width: 100%;
      background-color: #f4f7fc;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 5px;
      gap: 0.5rem;
      .plus {
        color: rgb(19, 151, 19);
      }

      .pencil {
        color: rgb(196, 193, 12);
      }
      select {
        margin-right: 10px;
      }
      .add {
        background-color: #01cb62;
        color: #fff;
        height: 20px;
        border: 1px solid #178860;
        outline: none;
        padding: 0 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #178860;
        }
      }
      .delete {
        background-color: rgb(228, 49, 49);
        color: #fff;
        height: 20px;
        border: 1px solid rgb(117, 15, 15);
        outline: none;
        padding: 0 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgb(117, 15, 15);
        }
      }
    }
    .form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-wrap: wrap;

    }
  }
}
